.accordion {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.accordion__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 100%;
  transition: height .3s linear;
}

.accordion__result {
  max-height: 0;
  overflow: hidden;
  transition: max-height 650ms;
}
.accordion__cell:target .accordion__result{
  max-height: fit-content;
}
